body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s, color 0.5s;
}

header {
    background-color: #ffffff;
    color: black;
    text-align: center;
    padding: 1rem;
    margin: 0 auto;
    transition: background-color 0.5s, color 0.5s;
}

.tabs {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.tablinks {
    background-color: #f1f1f1;
    color: black;
    padding: 12px 16px;
    text-align: left;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.tablinks:hover {
    background-color: #ddd;
}

.tablinks.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.subtabs .subtablinks {
    display: block;
    margin-left: 15px;
}

.subtabs .subtablinks.active {
    background-color: #ccc;
}

.subtabs .subtabcontent {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-left: 30px;
}


.subtablinks.active {
    display: block;
}


#generateReference {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#generateReference.active {
    display: flex;
}

#generateReference input,
#generateReference textarea,
#generateReference select,
#generateReference button {
    width: 30%;
    margin-bottom: 10px;
}

#generateReference input[type="text"],
#generateReference textarea,
#generateReference select {
    width: 40%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #009688;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 150, 136, 0.2);
    transition: border-color 0.3s, box-shadow 0.3s;
    outline: none;
}

#generateReference input[type="text"]:focus,
#generateReference textarea:focus,
#generateReference select:focus {
    border-color: #00796B;
    box-shadow: 0 0 8px rgba(0, 121, 107, 0.6);
}

#generateReference button {
    padding: 10px 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
    background-color: #009688;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

#generateReference button:hover,
#generateReference button:focus {
    background-color: #00796B;
    box-shadow: 0 2px 10px rgba(0, 150, 136, 0.4);
}



.main-categories {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.main-category {
    background-color: #f1f1f1;
    color: black;
    padding: 12px 16px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.main-category:hover {
    background-color: #ddd;
}

#main-content, #creator-content, #settings-content {
    display: none;
}


.tablinks, .subtablinks {
  background-color: #f1f1f1;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tablinks:hover, .subtablinks:hover {
  background-color: #ddd;
}

.tablinks.active, .subtablinks.active {
  background-color: #ccc;
}

/* .tabcontent was removed, leaving only .tabcontent above, and leaving .subtabcontent as its own style call */

.subtabcontent {
    display: none;
    padding: 50px;
    border: none;
    margin-top: 150px; /* Added margin-top to fix spacing between subtab buttons and subtabcontent, mainly fixed for larger text sizes*/
    margin-bottom: 20px;
}

.dark-mode {
    background-color: #121212;
    color: #ffffff;
    border: none;
    box-shadow: none;
}

*, *:before, *:after {
    border: none;
    box-shadow: none;
}

.dark-mode * {
    border: none;
    box-shadow: none;
    outline: none;
}

.dark-mode header {
  background-color: #111;
  color: #ffffff;
  transition: background-color 0.5s, color 0.5s;
}

/* Added dark-mode versions of h2 and ol */
.dark-mode h2 {
    border: 3mm ridge #D1AF47; /* border box for the subtab headers */
}

.dark-mode ol {
    border: 4mm ridge #D1AF47; /* border box for the subtab content */
    border-radius: 20px; /* Gives the border a roundness to its edge. Increase this, and the roundness will increase. */
    padding: 40px;
}

#sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 20px;
    border-right: 2px solid #818181;
    transition: background-color 0.5s, color 0.5s;
    color: #111;
}

#sidebar .sidebar-link {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;

    display: block;
    transition: 0.3s;
}

#sidebar .sidebar-link:hover {
    color: #f1f1f1;
    background-color: #575757;
}

#sidebar .sidebar-link.active {
    background-color: #009688;
    color: white;
}

#sidebar .sidebar-link i.fas.fa-cog {
    margin-right: 5px;
}

#sidebar .sidebar-link:hover i.fas.fa-cog {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

#sidebar .sidebar-link i.fas.fa-user {
    margin-right: 8px;
}

#sidebar .sidebar-link:hover i.fas.fa-user {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

#sidebar .sidebar-link i.fas.fa-book {
    margin-right: 8px;
}

#sidebar .sidebar-link:hover i.fas.fa-book {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

#sidebar .sidebar-link i.fas.fa-flag {
    margin-right: 6px;
}

#sidebar .sidebar-link:hover i.fas.fa-flag {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

#sidebar-logo {
    display: block;
    max-width: 100%;
    height: auto;
    padding: 0px;
    margin-bottom: 20px;
}

#dark-mode-toggle .fa-moon,
#dark-mode-toggle .fa-sun {
    margin-right: 8px;
}

#dark-mode-toggle:hover .fa-sun,
#dark-mode-toggle:hover .fa-moon {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.dark-mode #sidebar {
    background-color: #111;
    color: #fff;
}

#settings-dropdown {
    background-color: #333;
    padding: 10px;
    border-top: 1px solid #444;
}

#settings-dropdown button,
#settings-dropdown input[type="color"] {
    width: 100%;
    margin-top: 5px;
}

.settings-dropdown-content button {
    background-color: #444;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
}

.settings-dropdown-content button:hover {
    background-color: #555;
}

.content-area {
    font-size: 1rem; /* This will be relative to the root font-size */
}

.tablinks, .subtablinks, .main-category, .sidebar-link {
    font-size: 1rem; /* This should now scale with the body font-size */
    /* Other styles */
}

button {
    font-size: inherit;
}

.main-content, .tabcontent, .subtabcontent, header, #generateReference {
    font-size: 1rem;
}

.main-content {
    margin-left: 250px;
    width: calc(100% - 250px);
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
 border: 3mm ridge #D1AF47; /* border box for the subtab headers */
}

ol {
   border: 4mm ridge #D1AF47; /* border box for the subtab content */
   border-radius: 20px; /* Gives the border a roundness to its edge. Increase this, and the roundness will increase. */
}
